/*
Name:   Base2Tone-Suburb
Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
CodeMirror template by Jan T. Sott (https://github.com/idleberg), adapted by Bram de Haan (https://github.com/atelierbram/)
*/

.cm-s-Base2Tone-Suburb-dark.CodeMirror { background: #1e202f; color: #4f5472; }
.cm-s-Base2Tone-Suburb-dark div.CodeMirror-selected { background: #444864!important; }
.cm-s-Base2Tone-Suburb-dark .CodeMirror-gutters { background: #1e202f; border-right: 0px; }
.cm-s-Base2Tone-Suburb-dark .CodeMirror-linenumber { color: #444864; }

/* begin cursor */
.cm-s-Base2Tone-Suburb-dark .CodeMirror-cursor { border-left: 1px solid #fb6fa9; /* border-left: 1px solid #fb6fa980; */ border-right: .5em solid #fb6fa9; /* border-right: .5em solid #fb6fa980; */ opacity: .5; }
.cm-s-Base2Tone-Suburb-dark .CodeMirror-activeline-background { background: #292c3d; /* background: #292c3d80;  */ opacity: .5;}
.cm-s-Base2Tone-Suburb-dark .cm-fat-cursor .CodeMirror-cursor { background: #fb6fa9; /* background: #fb6fa980; */ opacity: .5;}
/* end cursor */

.cm-s-Base2Tone-Suburb-dark span.cm-atom, .cm-s-Base2Tone-Suburb-dark span.cm-number, .cm-s-Base2Tone-Suburb-dark span.cm-keyword, .cm-s-Base2Tone-Suburb-dark span.cm-variable, .cm-s-Base2Tone-Suburb-dark span.cm-attribute, .cm-s-Base2Tone-Suburb-dark span.cm-quote, .cm-s-Base2Tone-Suburb-dark span.cm-hr, .cm-s-Base2Tone-Suburb-dark span.cm-link { color: #ffb3d2; }

.cm-s-Base2Tone-Suburb-dark span.cm-property { color: #8696fd; }
.cm-s-Base2Tone-Suburb-dark span.cm-punctuation, .cm-s-Base2Tone-Suburb-dark span.cm-unit, .cm-s-Base2Tone-Suburb-dark span.cm-negative { color: #f25a99; }
.cm-s-Base2Tone-Suburb-dark span.cm-string { color: #fe81b5; }
.cm-s-Base2Tone-Suburb-dark span.cm-operator { color: #fb6fa9; }
.cm-s-Base2Tone-Suburb-dark span.cm-positive { color: #5165e6; }

.cm-s-Base2Tone-Suburb-dark span.cm-variable-2, .cm-s-Base2Tone-Suburb-dark span.cm-variable-3, .cm-s-Base2Tone-Suburb-dark span.cm-string-2, .cm-s-Base2Tone-Suburb-dark span.cm-url { color: #6375ee; }
.cm-s-Base2Tone-Suburb-dark span.cm-def, .cm-s-Base2Tone-Suburb-dark span.cm-tag, .cm-s-Base2Tone-Suburb-dark span.cm-builtin, .cm-s-Base2Tone-Suburb-dark span.cm-qualifier, .cm-s-Base2Tone-Suburb-dark span.cm-header, .cm-s-Base2Tone-Suburb-dark span.cm-em { color: #ebedff; }
.cm-s-Base2Tone-Suburb-dark span.cm-bracket, .cm-s-Base2Tone-Suburb-dark span.cm-comment { color: #4f5472; }

/* using #f00 red for errors, don't think any of the colorscheme variables will stand out enough, ... maybe by giving it a background-color ... */
.cm-s-Base2Tone-Suburb-dark span.cm-error, .cm-s-Base2Tone-Suburb-dark span.cm-invalidchar { color: #f00; }

.cm-s-Base2Tone-Suburb-dark span.cm-header { font-weight: normal; }
.cm-s-Base2Tone-Suburb-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #ebedff!important; }
